@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to cpmPlus</h1>
    <p>Learn cpmPlus Technology <a href="https://docs.cpmplus.net/docs">building Industrial apps with vtrinLib</a>.</p>
</div>
